.judge-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px; /* Adjusted for some spacing at the top */
}

.judge-button {
  padding: 12px 24px;
  background-color: #175a94;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center; /* Ensures content is centered */
}

.judge-button:hover {
  background-color: #0e3f6d;
  transform: scale(1.05);
}

.judge-button:active {
  background-color: #0c365a;
  transform: scale(1);
}

.logout-button {
  color: red;
  background-color: transparent;
}

.logout-button:hover {
  color: #d33;
}

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns buttons at the top */
  margin-top: 30px;
  align-items: center; /* Centers the buttons horizontally */
  padding-top: 40px; /* Adds padding at the top for spacing */
  height: 100%;
  background-color: rgba(240, 248, 255, 0.85); /* Slightly transparent light blue */
  backdrop-filter: blur(10px); /* Adds a blur effect for a glassmorphic look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
}
